[project]
	description = My desktop and laptop environment. (i3+Arch)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bhcopeland
[access "refs/for/refs/*"]
	read = group user/bhcopeland
	push = group user/bhcopeland
	label-Code-Review = -2..+2 group user/bhcopeland
	label-Verified = -1..+1 group user/bhcopeland
	rebase = group user/bhcopeland
	removeReviewer = group user/bhcopeland
	submit = group user/bhcopeland
[access "refs/heads/*"]
	read = group user/bhcopeland
	create = group user/bhcopeland
	push = +force group user/bhcopeland
	pushMerge = group user/bhcopeland
[access "refs/tags/*"]
	push = group user/bhcopeland
	push = +force group user/bhcopeland
